html
{
    background: #e3e3e3;
}
body
{
    font-family: Arial;
    margin: 40px;
    padding: 40px;
    color: white;
    border-top: 10px solid #242424;
    background: #fff;
}

h1
{
    font-size: 3em;
    margin: 0;
    color: black;
}

p
{
    line-height: 1.4em;
}


#blog
{
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

h2
{
    color: black;
}

h3
{
    font-family: Cambria;
}

h5
{
    color: black;
}

#editors-blog
{
    font-size: 2em;
}

a[href="https://www.thoughtco.com/history-of-sony-playstation-4074320"] 
{
    font-style: italic;
}

a[href="https://www.pcgamer.com/twitch-in-crisis-as-it-blames-server-error-for-massive-data-breach/"] 
{
    font-style: italic;
}

#subscribe {
    font-style: italic;
    margin: 20px;
    color: black;
}

#blog {
    background: #ccc;
    display: flex;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) 
{
    flex: 3px;

}

article:nth-of-type(2) 
{
    flex: 1px;
}

#Twitch {
    height: 300px;
    width: 350px;
    float: left;
    margin-right: 10px;
}

#PlaystationPlus {
    height: 300px;
    width: 350px;
    float: left;
    margin-right: 10px;
}

.sticky
{
    background: black;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
}

ul:nth-of-type(1) {
    flex: 1px;
}

ul:nth-of-type(2) {
    flex: 1px;
}

ul:nth-of-type(3) {
    margin-right: 20px;
}

#About-Me
{
    color: black;
}

#About 
{
    font-size: 2em;
}